<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="this.toolsService.payloads.user.admin === true" slot="start">
            <ion-button (click)="showUserCreateFormModal()">
                <ion-icon color="light" name="person-add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Annuaire</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar #searchbar showCancelButton="true" cancelButtonText="annuler" [debounce]="400"
                   (ionChange)="getUserByName($event)" placeholder="Rechercher une personne"></ion-searchbar>

    <ion-button *ngIf="open_registration === true" expand="full" color="dark" (click)="showRegistrationCodeModal()">Envoyer un code d'invitation
    </ion-button>
    <ion-list>
        <ion-item (click)="showUserViewModal(user)" *ngFor="let user of users">
            <ion-avatar slot="start">
                <img appMecImageCache [type]="(user.sex == 'f' ? 'woman' : 'man')"
                     [url]="user.picture_sizes['sm']" alt="">
            </ion-avatar>
            <ion-label>
                <h2>{{user.fullname}}</h2>
                <p *ngIf="user.age && !user.death">{{user.age}} ans</p>
                <p *ngIf="!user.age || user.death">--</p>
            </ion-label>
            <ion-icon size="small" slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="getUsers()">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>