<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Paramètres</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item (click)="showProfilUpdateFormModal()">
            <ion-label>
                <h2>Mon profil</h2>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item (click)="showPasswordUpdateFormModal()">
            <ion-label>
                <h2>Mon mot de passe</h2>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item (click)="showNotificationsUpdateFormModal()">
            <ion-label>
                <h2>Préférences notifications</h2>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item (click)="showAppAuthorizationsModal()">
            <ion-label>
                <h2>Autorisations application</h2>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item (click)="showBugReportCreateFormModal()">
            <ion-label>
                <h2>Signaler un bug</h2>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
