:host(mec-publication-video) {
  display: block;

  iframe {
    width: var(--mec-publication-video-video-width);
    height: var(--mec-publication-video-video-height);
  }

  p {
    font-size: var(--mec-publication-content-size);
    padding: var(--mec-publication-content-padding);
    margin: 0;
    text-align: justify;
    color: var(--mec-publication-content-color);
    line-height: var(--mec-publication-content-line-height);
  }
}