<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <span class="modal-close-button" (click)="modalCtrl.dismiss()">Fermer</span>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="!toolsService.isEmpty(user)">
        <ion-item>
            <ion-icon slot="start" name="phone-portrait"></ion-icon>
            <ion-label>Notifications anniversaires</ion-label>
            <ion-toggle color="purple" [(ngModel)]="user.notification_cellphone_anniversary"
                        (ionChange)="updateUserField('notification_cellphone_anniversary')"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="phone-portrait"></ion-icon>
            <ion-label>Notifications évènements</ion-label>
            <ion-toggle color="purple" [(ngModel)]="user.notification_cellphone_event"
                        (ionChange)="updateUserField('notification_cellphone_event')"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="phone-portrait"></ion-icon>
            <ion-label>Notifications sondages</ion-label>
            <ion-toggle color="purple" [(ngModel)]="user.notification_cellphone_poll"
                        (ionChange)="updateUserField('notification_cellphone_poll')"></ion-toggle>
        </ion-item>

        <ion-item-divider>
        </ion-item-divider>
        <ion-item>
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>Notifications anniversaires</ion-label>
            <ion-toggle color="purple" [(ngModel)]="user.notification_email_anniversary"
                        (ionChange)="updateUserField('notification_email_anniversary')"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>Notifications sondages</ion-label>
            <ion-toggle color="purple" [(ngModel)]="user.notification_email_poll"
                        (ionChange)="updateUserField('notification_email_poll')"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>Notifications évènements</ion-label>
            <ion-toggle color="purple" [(ngModel)]="user.notification_email_event"
                        (ionChange)="updateUserField('notification_email_event')"></ion-toggle>
        </ion-item>
    </div>
</ion-content>

<ion-footer (click)="modalCtrl.dismiss()">
    <ion-toolbar>
        <ion-title>Terminer</ion-title>
    </ion-toolbar>
</ion-footer>