<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <span class="modal-close-button" (click)="modalCtrl.dismiss()">Fermer</span>
        </ion-buttons>
        <ion-title *ngIf="!toolsService.isEmpty(user)">{{user.fullname}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div style="width: 100%; text-align: center;">

        <img appMecImageCache
             [type]="user.sex === 'f' ? 'man' : 'woman'"
             [url]="environment.resizer_url + 'user/' + user.id + '/default/' + user.picture"
             alt="">
        <br>
        <ion-button routerDirection="root" routerLink="messages/voir/{{user.id}}" (click)="modalCtrl.dismiss()">
            <ion-icon name="send"></ion-icon>
        </ion-button>
        <ion-button *ngIf="user.email" (click)="sendEmail()">
            <ion-icon name="mail"></ion-icon>
        </ion-button>

        <ion-button *ngIf="user.cellphone || user.phone" (click)="loadCallActionSheet()">
            <ion-icon name="call"></ion-icon>
        </ion-button>

        <ion-button *ngIf="user.cellphone" (click)="showSmsCreateFormModal()">
            <ion-icon name="text"></ion-icon>
        </ion-button>
    </div>
    <ul>
        <li class="header-list">
            Informations
        </li>
        <li>
            <label>Civilité</label>
            <span>{{user.sex_to_text}}</span>
        </li>
        <li>
            <label>Profession</label>
            <span>{{user.profession}}</span>
        </li>
        <li>
            <label>Branche</label>
            <span>{{user.branch}}</span>
        </li>
        <li class="long-text">
            <label>Présentation</label>
            <span> {{user.presentation}} </span>
        </li>
        <li *ngIf="user.birth">
            <label>Date de naissance</label>
            <span>{{user.birth | date: 'dd/MM/yyyy'}}</span>
        </li>
        <li *ngIf="user.death">
            <label>Date de décès</label>
            <span>{{user.death | date: 'dd/MM/yyyy'}}</span>
        </li>
        <li class="header-list">
            Informations de contact
        </li>
        <li *ngIf="user.email">
            <label>Email</label>
            <span>{{user.email}}</span>
        </li>
        <li *ngIf="user.phone">
            <label>Téléphone fixe</label>
            <span>{{user.phone_prefix}}{{user.phone}}</span>
        </li>

        <li *ngIf="user.cellphone">
            <label>Téléphone mobile</label>
            <span>{{user.cellphone_prefix}}{{user.cellphone}}</span>
        </li>
        <li *ngIf="user.route">
            <label>Adresse</label>
            <span>{{ user.street_number}} {{ user.route}}<br>
                {{ user.postal_code}} - {{ user.locality}}  {{ user.country}}</span>
        </li>
    </ul>
</ion-content>