<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <span (click)="cancelForm()" class="modal-close-button">Retour</span>
        </ion-buttons>
        <ion-title>Mon adresse domicile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div text-center style="font-size:16px; font-weight: bold; margin:15px 0;">
        <p *ngIf="!user.route">Pas d'adresse renseignée</p>
        <p  *ngIf="user.route">
            {{user.street_number}} {{user.route}} {{user.postal_code}} {{user.locality}} {{user.country}}
        </p>
    </div>

    <ion-button color="tertiary" expand="full" (click)="loadAddressUpdatePrompt()">Renseigner mon adresse</ion-button>
    <br>
    <br>
    <div *ngIf="user.lat" leaflet (leafletMapReady)="onMapReady($event)" style="width:100%; height: 300px"></div>
</ion-content>