<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Messages</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-button expand="full" color="purple" (click)="showDiscussionCommentCreateFormModal()">Créer un message privé
    </ion-button>

    <ion-list>
        <ion-item routerDirection="forward" routerLink="/messages/voir/{{discussion_comment.sender_id}}"
                  *ngFor="let discussion_comment of discussion_comments">
            <ion-avatar slot="start">
                <img appMecImageCache
                     [type]="discussion_comment.sender.sex === 'f' ? 'man' : 'woman'"
                     [url]="environment.resizer_url + 'user/' + discussion_comment.sender.id + '/default/' + discussion_comment.sender.picture"
                     alt="">
            </ion-avatar>
            <ion-label>
                <h2>{{discussion_comment.sender.fullname}}</h2>
                <h3>Le {{discussion_comment.created | date: 'dd/MM/yyyy à HH:mm'}}</h3>
                <p>{{discussion_comment.content}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="getDiscussionComments()">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>