<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <span class="modal-close-button" (click)="modalCtrl.dismiss()">Annuler</span>
        </ion-buttons>
        <ion-title>Rechercher une personne</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-searchbar showCancelButton="true" cancelButtonText="annuler" [debounce]="700"
                   (ionChange)="findRecipient($event)" placeholder="Rechercher un destinataire"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let user of users" (click)="selectRecipient(user)">
            <ion-label>{{user.fullname}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
