<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <span class="modal-close-button" (click)="modalCtrl.dismiss()">Fermer</span>
    </ion-buttons>
    <ion-title>{{date | date: 'dd/MM/yyyy'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" color="purple" (click)="showEventCreateFormModal()">Créer un évènement à cette date
  </ion-button>

  <div *ngFor="let event of events">
    {{event.start | date: 'dd/MM à H:mm'}} : {{event.title}}
    Durée : {{event.duration}}
    {{event.content}}
    <a (click)="loadEventActionSheet(event)">options</a>
  </div>
</ion-content>












