<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-lg="5" size-md="6" size-xs="12">
                <div text-center>
                    <h4>Deliryades</h4>
                </div>
                <p text-center>
                    Pour vous connecter, utilisez votre <b>adresse email</b><br>ou votre <b>numéro de téléphone portable</b> sans indicatif<br>ex : 0607080910
                </p>
                <form #ngForm="ngForm" (ngSubmit)="submit()" *ngIf="create_form" [formGroup]="create_form">
                    <ion-item>
                        <ion-input formControlName="credential" placeholder="Téléphone portable ou adresse email"
                                   type="number"></ion-input>
                        <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                            'credential')}}
                        </p>
                    </ion-item>

                    <ion-item>
                        <ion-input formControlName="password" placeholder="Mot de passe"
                                   type="password"></ion-input>
                        <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                            'password')}}
                        </p>
                    </ion-item>

                    <ion-button type="submit" expand="full" color="purple">connexion</ion-button>

                </form>
                <div text-center>
                    <br>
                    <a routerDirection="forward" routerLink="/mot-de-passe-perdu">Mot de passe perdu ?</a>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>