<ion-content color="purple" padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-lg="5" size-md="6" size-xs="12">
                <div text-center>
                    <img src="../../../../assets/logo.png">
                </div>
                <p text-center>
                    <small>Pour vous connecter, utilisez votre <b>adresse email</b><br>ou votre <b>numéro de téléphone
                        portable</b> sans indicatif<br>ex : 0607080910
                    </small>
                </p>
                <form #ngForm="ngForm" (ngSubmit)="submit()" *ngIf="create_form" [formGroup]="create_form">
                    <ion-item style="margin:0 2px">
                        <ion-input style="margin:0 7px" formControlName="credential"
                                   placeholder="Téléphone portable ou adresse email"
                                   type="text"></ion-input>
                        <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                            'credential')}}
                        </p>
                    </ion-item>
                    <br>
                    <ion-item style="margin:0 2px">
                        <ion-input style="margin:0 7px" formControlName="password" placeholder="Mot de passe"
                                   type="password"></ion-input>
                        <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                            'password')}}
                        </p>
                    </ion-item>
                    <br>
                    <ion-button type="submit" expand="full" color="light">connexion</ion-button>
                </form>
                <div text-center>
                    <br>
                    <a style="color:white;" routerDirection="forward" routerLink="/mot-de-passe-perdu">Mot de passe
                        perdu ?</a>
                </div>
                <br>
                <ion-button *ngIf="open_registration === true" expand="full" color="dark"
                            (click)="showRegistrationFormModal()">Inscription
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>