<div class="menu-wrap">
    <div *ngIf="returnBtn" class="menu-item">
        <div (click)=goback() class="menu-item-content">
            <ion-icon name="arrow-back" slot="start"></ion-icon>
            <span>Retour</span>
        </div>
    </div>

    <ion-menu-toggle *ngFor="let menu of menus" auto-hide="false" class="menu-item">
        <div *ngIf='!menu.sub' [routerLink]="menu.url" class="menu-item-content" routerDirection="root">
            <ion-icon [class]="menu.class" [icon]="menu.icon" slot="start"></ion-icon>
            <span>
        {{menu.title}}
      </span>
            <div *ngIf="menu.notification_count > 0" class="notification">{{menu.notification_count}}</div>
        </div>
        <div (click)="submenu(menu.sub)" *ngIf="menu.sub" class="menu-item-content">
            <ion-icon [class]="menu.class" [icon]="menu.icon" slot="start"></ion-icon>
            <span>
        {{menu.title}}
      </span>
        </div>
    </ion-menu-toggle>
</div>
