<ion-header>
    <ion-toolbar>
        <ion-title>
            Nouveau mot de passe
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <form *ngIf="user && update_form" [formGroup]="update_form" #ngForm="ngForm" (ngSubmit)="submit()">
                    <ion-item>
                        <ion-input type="password" formControlName="password1"
                                   placeholder="Nouveau mot de passe"></ion-input>
                        <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
                            'password1')}}
                        </p>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" formControlName="password2"
                                   placeholder="Confirmez le nouveau mot de passe"></ion-input>
                        <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
                            'password2')}}
                        </p>
                    </ion-item>
                    <ion-button type="submit" size="large" expand="block">
                        Réinitialiser mon mot de passe
                    </ion-button>
                </form>
                <div text-center>
                    <a routerDirection="backward" routerLink="/connexion">Annuler</a>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>