<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <span class="modal-close-button" (click)="cancelForm()">Annuler</span>
    </ion-buttons>
    <ion-title>Créer un sondage</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form *ngIf="update_form" [formGroup]="update_form" #ngForm="ngForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">Titre</ion-label>
      <ion-input formControlName="title" placeholder=""></ion-input>
      <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
              'title')}}
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Question</ion-label>
      <ion-input formControlName="question" placeholder=""></ion-input>
      <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
              'question')}}
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea formControlName="description" placeholder=""></ion-textarea>
      <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
              'description')}}
      </p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Expiration</ion-label>
      <ion-datetime formControlName="expiration"
                    [monthNames]="environment.month_names"
                    [monthShortNames]="environment.month_short_names"
                    [dayNames]="environment.day_names"
                    [dayShortNames]="environment.day_short_names"
                    cancelText="Annuler"
                    doneText="Terminer"
                    [min]="moment().year()" [max]="moment().year() + 2"
                    displayFormat="DD MMMM YYYY HH:mm"
                    pickerFormat="DD MMMM YYYY HH:mm">
      </ion-datetime>

      <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
              'expiration')}}
      </p>
    </ion-item>


    <ion-item>
      <ion-label>Mettre en ligne</ion-label>
      <ion-toggle formControlName="activated"></ion-toggle>
      <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
              'activated')}}
      </p>
    </ion-item>

    <div formArrayName="poll_proposals">
      <div [formGroupName]="index"
           *ngFor="let control of update_form.get('poll_proposals').controls; let index = index">
        <ion-item>
          <ion-label position="stacked">Proposition {{index + 1 }}</ion-label>
          <ion-input formControlName="content" placeholder=""></ion-input>
          <p *ngIf="ngForm.submitted" class="form-error">{{update_form.getError('error',
                  'poll_proposals.' + index + '.content')}}
          </p>
        </ion-item>
        <ion-button *ngIf="index > 1" (click)="removePollProposal(index)">supprimer</ion-button>
      </div>
      <ion-button (click)="addPollProposal()">Ajouter</ion-button>

    </div>
    <ion-button type="submit" expand="full" color="purple">Enregistrer</ion-button>
  </form>

</ion-content>
