<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="cancelForm()" icon-only>
                <ion-icon icon="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Créer un sondage</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <form *ngIf="create_form" [formGroup]="create_form" #ngForm="ngForm" (ngSubmit)="submit()">
        <ion-item>
            <ion-label position="stacked">Titre</ion-label>
            <ion-input formControlName="title" placeholder=""></ion-input>
            <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                'title')}}
            </p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Question</ion-label>
            <ion-input formControlName="question" placeholder=""></ion-input>
            <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                'question')}}
            </p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea formControlName="description" placeholder=""></ion-textarea>
            <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                'description')}}
            </p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Expiration</ion-label>
            <ion-datetime formControlName="expiration"
                          [monthNames]="environment.month_names"
                          [monthShortNames]="environment.month_short_names"
                          [dayNames]="environment.day_names"
                          [dayShortNames]="environment.day_short_names"
                          cancelText="Annuler"
                          doneText="Terminer"
                          [min]="moment().year()" [max]="moment().year() + 2"
                          displayFormat="DD MMMM YYYY HH:mm"
                          pickerFormat="DD MMMM YYYY HH:mm">
            </ion-datetime>

            <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                'expiration')}}
            </p>
        </ion-item>


        <ion-item>
            <ion-label>Mettre en ligne</ion-label>
            <ion-toggle formControlName="activated"></ion-toggle>
            <p *ngIf="ngForm.submitted" class="form-error">{{create_form.getError('error',
                'activated')}}
            </p>
        </ion-item>

        <ion-button type="submit" size="large" expand="block">enregistrer</ion-button>
    </form>

</ion-content>
